*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============= VARIÁVEIS =============*/
:root {
  --blue-200: hsl(233, 40%, 85%);
  --blue-900: hsl(233, 26%, 32%);
  --blue-950: hsl(233, 26%, 24%);
  --blue-980: hsl(233, 26%, 12%);

  --green-400: hsl(136, 64%, 60%);
  --green-500: hsl(136, 64%, 51%);
  --green-600: hsl(136, 64%, 42%);
  --green-950: hsl(136, 50%, 15%);

  --cyan-300: #55cae7;
  --cyan-400: hsl(192, 69%, 51%);
  --cyan-500: hsl(192, 69%, 43%);
  --cyan-950: hsl(192, 60%, 12%);

  --gray-600: hsl(236, 6%, 40%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
}

/* ============= ANIMAÇÕES =============*/

/* @keyframes bgAnimation {
  0% {
    opacity: 0;
  }
  25% {
    background-color: var(--green-500);
  }
  50% {
    background-color: var(--green-600);
  }
  100% {
    background-color: var(--green-950);
  }
} */

body {
  font-family: "Public Sans", sans-serif;
  background-color: var(--white);
}

/* .bgCircle--left-top {
  position: absolute;
  top: 0;
  left: 10rem;
  width: 8rem;
  height: 8rem;
  opacity: .8;
  background: linear-gradient(32deg,rgba(50, 210, 93, 1) 6%, rgba(39, 176, 75, 1) 51%, rgba(34, 171, 71, 1) 78%);
  /* animation-name: bgAnimation;
  animation-duration: 4s; 
} */

.flex {
  display: flex;
}

.heading {
  color: var(--blue-950);
  font-weight: normal;
}

.heading-xl {
  font-size: 2.5rem;
}

.heading-lg {
  font-size: 1.8rem;
}

.heading-md {
  font-size: 1.4rem;
}

.text-sm{
  font-size: .2rem !important
}

.default-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    transform: translateY(-2px);
    filter: brightness(102%);
  }
}

.gradient-btn {
  color: var(--white);
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    var(--cyan-300) 6%,
    var(--cyan-400) 9%,
    var(--green-500) 62%
  );
  background-size: 100% 180%;
  transition:
    background-position 0.5s ease-in-out,
    transform 0.3s ease;

  &:hover {
    background-position: 0 100%;
  }
}

.default-text {
  color: var(--gray-600);
  font-size: 0.9rem;
}

.default-list {
  list-style: none;
}

.default-link {
  text-decoration: none;
  color: inherit;
}

.default-icon {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateY(-2px) scale(1.1);
  }
}

/* ============= HEADER =============*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.even_section {
  background-color: var(--white);
}

.odd_section {
  background-color: var(--gray-100);
}

.default_section {
  display: flex;
  flex-direction: column;
}

.hero_section {
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 80%;
}

.hero_bg {
  width: 100%;

  img {
    max-width: 100%;
  }
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 1.7rem;
}

/* ============= ARTICLES =============*/
.articles-wrapper{
  padding: 2rem;
}

.article-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: start;
  img{
    max-width: 100%;
  }
}

/* ============= FOOTER =============*/
.footer {
  background-color: var(--blue-980);
  color: var(--gray-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.social-media__list {
  gap: 1.3rem;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

/* ============= ATRIBUIÇÃO =============*/
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
